# Bajaj Finserv Health Challenge (BFHL) API Credentials
# Replace these with your actual college details

USER_FULLNAME=sahil_rawat
USER_BIRTHDATE=12042003
USER_EMAIL=sahil2137.be23@chitkara.edu.in
USER_ROLL_NUMBER=2310992137

PORT=3000
